<div id="main-login-visual">
  <div class="container py-5 mx-auto">
    <h2>新規会員情報登録</h2>
    <%= form_with model: @user, url: user_registration_path, id:'new_user', class:'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row mb-3 mt-5">
        <label class="col-lg-3 col-md-3 col-xs-12">名前:<span class="label label-danger ml-3">必須</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.text_field :name, autocomplete: 'name', placeholder:"ユーザー名", class:"form",size: "30x1" %>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">フリガナ:<span class="label label-danger ml-3">必須</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.text_field :name_kana, autocomplete: 'name_kana', placeholder:'ユーザー名（フリガナ）', class:"form",size: "30x1"%>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">画像:<span class="label label-optional ml-3">任意</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.attachment_field :profile_image, :placeholder => "選択してください" %>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">性別:<span class="label label-danger ml-3">必須</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <% f.label :sex %>
          <%= f.select :sex, User.sexes.keys.map {|k| [k, k]} %>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">年齢:<span class="label label-danger ml-3">必須</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.text_field :age, autocomplete: 'age', class:"form", :placeholder => "○○" %><span>　歳</span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">身長:<span class="label label-danger ml-3">必須</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.text_field :height, autocomplete: 'height', class:"form", :placeholder => "○○○.○" %><span>　cm</span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">体重:<span class="label label-danger ml-3">必須</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.text_field :weight, autocomplete: 'weight', class:"form" , :placeholder => "○○.○"%><span>　kg</span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">ひと言:<span class="label label-optional ml-3">任意</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.text_area :introduction, class:"form", :placeholder => "ここにひと言お願いします",size: "40x5"%>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">メールアドレス:<span class="label label-danger ml-3">必須</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.email_field :email, autocomplete: 'email', :placeholder => "sample@example.com", class:"form",size: "30x1" %>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">パスワード:<span class="label label-danger ml-3">必須</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.password_field :password, autocomplete: "new-password", class:'form',size: "30x1", :placeholder => "6文字以上入力して下さい"%>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-lg-3 col-md-3 col-xs-12">パスワード(確認用):<span class="label label-danger ml-3">必須</span></label>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form',size: "30x1", :placeholder => "もう一度入力してください" %>
        </div>
      </div>
      <div class="row">
        <lavel class="col-lg-3 col-md-3 col-xs-12"></lavel>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.submit "   新規登録   " , class:'btn btn-success mb-2 btn-sm px-5' %>
        </div>
      </div>
    <% end %>
    <h6 class="ml-4 mt-4 bg-light d-inline-flex">
      既に登録済みの方は
        <%= link_to "こちら", new_user_session_path %>
      からログインしてください
    </h6>
  </div>
</div>
