<div id="mainvisual">
  <div class="container py-5">
    <h4 class="title"><i class="fas fa-balance-scale fa-3x"></i> カロリーバランス</h4>
     <div class="row text-center d-flex align-items-center my-5">
       <div class="col-lg-12 col-md-12 col-xs-12">
         <!--三項演算子使用-->
          <label class="datetime"><%= (@cal_ingestion.nil? && @cal_consumption.nil?) ? Date.current.strftime("%-m月%-d日(%a)") : (@cal_ingestion&.date&.strftime("%-m月%-d日(%a)") || @cal_consumption&.date&.strftime("%-m月%-d日(%a)"))%></label>
  
          <span class="cal_balance">のカロリーバランス</span>
      </div>
    </div>
     <div class="row text-center d-flex align-items-center mt-1 mb-5">
       <div class="col-lg-12 col-md-12 col-xs-12 cal_balance-num">
      <span><%= @cal_ingestion&.total_cal_ingestions.to_i - @cal_consumption&.total_cal_consumptions.to_i %> kcal</span>
       </div>
     </div>
      <div class="row text-center d-flex align-items-center my-2">
        <div class="col-lg-6 col-md-6 col-xs-6 cal_ingestion mt-5 mb-1">
          摂取カロリー
        </div>
         <div class="col-lg-6 col-md-6 col-xs-6 cal_consumption mt-5 mb-1">
          消費カロリー
        </div>
      </div>
      <div class="row text-center d-flex align-items-center my-2">
         <div class="col-lg-6 col-md-6 col-xs-6 cal_ingestion-num">
           <!--カロリ-摂取量-->
        <span>+  </span><%= @cal_ingestion&.total_cal_ingestions.to_i %><span> kcal</span>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6  cal_consumption-num">
          <!--カロリ-消費量-->
          <span>-  </span><%= @cal_consumption&.total_cal_consumptions.to_i %><span> kcal</span>
        </div>
      </div>
      <div class="row text-center d-flex align-items-center my-5 ">
        <div class="col-lg-6 col-md-6 col-xs-6 cal_ingestion-num-p">
        <% if @cal_ingestion.present? == false %>
          <%=link_to "摂取カロリー入力画面へ",new_cal_ingestion_path, class: "edit-link" %>
        <% else %>
          <%=link_to "摂取カロリー入力画面へ",edit_cal_ingestion_path(@cal_ingestion.id), class: "edit-link" %>
        <% end %>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 cal_consumption-num-p">
        <% if @cal_consumption.present? == false %>
          <%=link_to "消費カロリー入力画面へ",new_cal_consumption_path, class: "edit-link" %>
        <% else %>
          <%=link_to "消費カロリー入力画面へ",edit_cal_consumption_path(@cal_consumption.id), class: "edit-link" %>
        <% end %>
        </div>
      </div>
    </div>
</div>