<div class="containser pt-5">
  <h4 class="ml-4 mb-5"><%= @user.name %>さんの詳細データ</h4>
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center">
      <table>
        <tr>
          <th class="font-large">身長</th>
          <td class="font-large"><%= @user.height %><span>cm</span></td>
        </tr>
        <tr>
          <th class="font-large">体重</th>
          <td class="font-large"><%= @user.weight %><span>kg</span></td>
        </tr>
        <tr>
          <th class="font-large">BMI</th>
          <td class="font-large"><%= @user.bmi %></td>
        </tr>
        <tr>
          <th class="font-large">週間カロリーバランス</th>
          <td class="font-large"><%= 123 %><span>Kcal</span></td>
        </tr>
        <tr>
          <th class="font-large">月間カロリーバランス</th>
          <td class="font-large"><%= 123 %><span>Kcal</span></td>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center my-4">
    <%= link_to "戻る", user_path(@user) %>
    </div>
  </div>
</div>

