<div id="main-b-visual">
  <div class="containser pt-5 ml-4">
    <h4 class="title ml-4 mb-5"><i class="fas fa-user-edit fa-3x"></i> 編集画面</h4>
    <%= form_with model: @user, url: user_path(@user),local: true do |f| %>
      <div class="row mb-4 mt-5">
        <label class="col-lg-4 col-md-4 col-xs-12 text-label">画像</label>
          <div class="col-lg-4 col-md-4 col-xs-12 text-form">
            <%= f.attachment_field :profile_image %>
          </div>
      </div>
      <div class="row mb-4">
        <label class="col-lg-4 col-md-4 col-xs-12 text-label">年齢</label>
        <div class="col-lg-4 col-md-4 col-xs-12 text-form">
          <%= f.text_field :age, autocomplete: 'age', class:"mb-2" %><span class="text-label">　歳</span>
        </div>
      </div>
      <div class="row mb-4">
        <label class="col-lg-4 col-md-4 col-xs-12 text-label">身長</label>
        <div class="col-lg-4 col-md-4 col-xs-12 text-form">
          <%= f.text_field :height, autocomplete: 'height', class:"mb-2" %><span class="text-label">　cm</span>
        </div>
      </div>
      <div class="row mb-4">
        <label class="col-lg-4 col-md-4 col-xs-12 text-label">体重</label>
        <div class="col-lg-4 col-md-4 col-xs-12 text-form">
          <%= f.text_field :weight, autocomplete: 'weight', class:"mb-2" %><span class="text-label">　kg</span>
        </div>
      </div>
      <div class="row mb-4">
        <label class="col-lg-4 col-md-4 col-xs-12 text-label">ひと言</label>
        <div class="col-lg-4 col-md-4 col-xs-12 text-form">
          <%= f.text_area :introduction, :placeholder => "ここにひと言お願いします",size: "autox6"%>
        </div>
      </div>
      <div class="row update">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <%= f.submit "   更新する   " , class:'btn btn-success mb-2 btn-lg px-5' %>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <%= link_to "戻る", user_path(@user),class:"back-link"%>
        </div>
      </div>
    <% end %>
  </div>
</div>