<div id="main-a-visual">
  <div class="container py-5">
    <h4  class="title mb-5">カロリーデータ</h4>
     <div class="row text-center d-flex align-items-center my-1">
      <div class="col-12 ml-5">
        <table class="table table-bordered mb-2">
        <h5 class ="mb-3 text-left">今週のカロリーバランス(Kcal)</h5>
          <tr height="100">
            <th>日曜日</th>
            <th>月曜日</th>
            <th>火曜日</th>
            <th>水曜日</th>
            <th>木曜日</th>
            <th>金曜日</th>
            <th>土曜日</th>
            <th width="150" >今週の合計</th>
            <th width="150">今月の合計</th>
            <th width="150">今月の体重増減<br>(理論値)</th>
          </tr>
          <tr>
            <!--=====週間のカロリーバランスを計算する=====-->
          <% sum = 0 %>
          <% 7.times do |i| %>
           <td><%= @cal_balances_week[i] %></td>
           <% sum += @cal_balances_week[i].eql?("") ? 0 : @cal_balances_week[i].to_i %>
          <% end %>
          
            <td><%= sum %></td>
            <td><%= @month_sum %></td>
            <td><%= @month_sum_weight %> kg</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row mb-3">
      <div class="cal-lg-5">
        <div class="cal-text ml-5 cal">※1㎏の脂肪 = 約7,000 Kcal分</div>
      </div>
        <div class="cal-lg-5">
        <div class="cal-text ml-4"> ⇨ <span class="weight">　体重1㎏ </span>減らすには、カロリーバランス<span class="cal"> -7,000 kcal </span>が目安になります。</div>
      </div>
    </div>
     <!--=====グラフの部分テンプレート=====-->
    <div class="row text-center d-flex align-items-center my-5">
      <div class="col-12 ml-5">
        <%= render "data/chart", cal_consumption: @cal_consumption, cal_ingestion: @cal_ingestion %>
      </div>
    </div>
  </div>
</div>