<div id="main-a-visual">
  <div class="container py-5">
    <h4  class="title mb-5">カロリーデータ</h4>
     <div class="row text-center d-flex align-items-center my-1">
      <div class="col-lg-12 col-md-12 col-xs-12 ml-5">
        <table class="table table-bordered mb-2">
        <h5 class ="mb-3 text-left">今週のカロリーバランス(kcal)</h5>
          <tr height="100">
            <th>日曜日</th>
            <th>月曜日</th>
            <th>火曜日</th>
            <th>水曜日</th>
            <th>木曜日</th>
            <th>金曜日</th>
            <th>土曜日</th>
            <th width="150" >今週の合計</th>
            <th width="150">今月の合計</th>
            <th width="150">今月の体重増減<br>(理論値)</th>
          </tr>
          <tr>
            <!--=====今週のカロリーバランス=====-->
            <td><%= @cal_balance_sun %></td>
            <td><%= @cal_balance_mon %></td>
            <td><%= @cal_balance_tue %></td>
            <td><%= @cal_balance_wed %></td>
            <td><%= @cal_balance_thu %></td>
            <td><%= @cal_balance_fri %></td>
            <td><%= @cal_balance_sat %></td>
            <!--=====今週のカロリーバランスの合計=====-->
            <td><%= @week_sum %></td>
            <!--=====今月のカロリーバランスの合計=====-->
            <td><%= @month_sum %></td>
            <!--=====今月の体重の増減（理論値）=====-->
            <td><%= @month_sum_weight %> kg</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row mb-3">
      <div class="cal-lg-5">
        <div class="cal-text ml-5 cal">※1㎏の脂肪 = 約7,000 kcal分</div>
      </div>
        <div class="cal-lg-5">
        <div class="cal-text ml-4"> ⇨ <span class="weight">　体重1㎏ </span>減らすには、カロリーバランス<span class="cal"> -7,000 kcal </span>が目安になります。</div>
      </div>
    </div>
     <!--=====グラフの部分テンプレート=====-->
    <div class="row text-center d-flex align-items-center my-5">
      <div class="col-lg-12 col-md-12 col-xs-12 ml-5">
        <%= render "data/chart", cal_consumption: @cal_consumption, cal_ingestion: @cal_ingestion %>
      </div>
    </div>

    <div class="row text-center d-flex align-items-center my-1">
      <div class="col-lg-12 col-md-12 col-xs-12 ml-5">
        <table class="table table-bordered mb-2">
        <h5 class ="mb-3 text-left">今月のカロリーランキング</h5>
          <tr height="100">
            <th>カロリー/順位</th>
            <th>1位</th>
            <th>2位</th>
            <th>3位</th>
          </tr>
          <tr>
            <td>カロリーバランス</td>
            <td><%= "○○kcal　7/19" %></td>
            <td><%= "○○kcal　7/19" %></td>
            <td><%= "○○kcal　7/19" %></td>
          </tr>
          <tr>
            <td>消費カロリー</td>
            <% @cal_consumption_rank.each do |cal_consumption| %>
            <td><%= cal_consumption[1][1].strftime("%-m月%-d日(%a)")  %><p><%= cal_consumption[0] %></p></td>
            <% end %>
          </tr>
          <tr>
            <td>摂取カロリー</td>
            <td><%= "○○kcal　7/19" %></td>
            <td><%= "○○kcal　7/19" %></td>
            <td><%= "○○kcal　7/19" %></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>