<!DOCTYPE html>
<html>
  <head>
    <title>CaloMan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

   <!--======ヘッダーの部分テンプレート======-->
    <%= render "layouts/header" %>
    
    <!--=====日付検索=====-->
    <div class="search mt-3 mr-4 text-right">
      <%=form_with url: cal_balances_path, method: :get, local: true do |f| %>
        <%= f.date_field :created_date,include_blank: true %>
        <%= f.submit '検索',class:'btn btn-info mb-2 btn-sm px-5 ml-3' %>
      <% end %>
    </div> 
    
    <main>
   <!--======フラッシュメッセージ======-->
    <% if flash[:notice] %>
      <div class="flash-message">
        <p id ="notice"><%= flash[:notice] %></p>
      </div>
    <% elsif flash[:alert]%>
      <div class="flash-message">
        <p id="alert"><%= flash[:alert] %></p>
      </div>
    <% end %>
    
      <%= yield %>
    </main>
    <!--======フッターの部分テンプレート======-->
  <%= render "layouts/footer" %>

  </body>
</html>
