<!DOCTYPE html>
<html>
  <head>
    <title>CaloMan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

   <!--======ヘッダーの部分テンプレート======-->
    <%= render "layouts/header" %>
    

    
    <main>
   <!--======フラッシュメッセージ======-->
  <div class="notification">
    <% if flash[:notice] %>
     <div class ="notice"><%= flash[:notice] %></div>
      
    <% elsif flash[:alert]%>
     <div class ="alert"><%= flash[:alert] %></div>
    <% end %>
  </div>    
    
      <%= yield %>
    
    </main>
    <!--======フッターの部分テンプレート======-->
  <%= render "layouts/footer" %>

  </body>
</html>
